body{
    background-color: #ffff;
}
/*css code image*/

.image-jpg{
    margin-top:10%;
    margin-left:30%;
}
/*css code for image ends here*/
/*css code for form*/
.form-section{
    margin-top:-40%;
    margin-left:15%
}
/*css code for form ends here*/
/*css code for input button*/
input{
    border:1px solid #000000;
    border-radius:5px;
    width: 15%;
    height: 3vh;
    justify-content: center;
}
/* css code for input button*/
/*css code for login button*/
.btn-section{
    text-align: center; 
    border-radius:8px;
    background-color: #4f93e0;
    border-color: #5682e2;
    width: 15%;
    height: 4vh;
    color: #ffff;
}
/*css code for login button*/
a{
    text-decoration:none;
}

    


    
